<a href="https://colab.research.google.com/github/Elwing-Chou/kmu/blob/main/0326.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Demo Latex Math

$ 標準差 = \frac{1}{n} \sum_{i=1}^n (p_i - \mu) ^ 2 $

# 早上

1. []: 清單型態(list) 同類型東西  [60, 30, 20]
2. {}: 字典型態(dict) 聚集小東西變成複雜東西 {"name":"Elwing", "height":175}

key-value

1. 清單 key: 0, 1, 2  key2: -3, -2, -1
2. 字典 key: 自定義(str, 數字, tuple)

查詢: 查東西[key]

1. list[1]
2. dict["name"]

JSON格式(網路標準格式): list + dict

巴哈姆特danmu: [danmu{}, {}, {}]

巴哈姆特爬蟲(所ip, 只能在本地端執行)

```python
# import json
# import requests
# url = "https://ani.gamer.com.tw/ajax/danmuGet.php"
# datas = {"sn": "23505"}
# h = {
#     "user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36"
# }
# response = requests.post(url, datas, headers=h)
# result = json.loads(response.text)
# with open("danmu.txt", "w", encoding="utf-8") as f:
#     json.dump(result, f, ensure_ascii=False, indent=4)
```

我 -> (編碼) 01010110 -> (解碼)我

唯一編碼: 萬國碼(Unicode)utf-8

In [ ]:
import pandas as pd
import urllib.request as req

url = "https://github.com/Elwing-Chou/kmu/raw/main/danmu.txt"
req.urlretrieve(url, "danmu.txt")
# pd.DataFrame(表格) pd.Series(一行/一列)
df = pd.read_json("danmu.txt", encoding="utf-8")
df

In [ ]:
df["userid"].value_counts()
df.groupby(["userid"]).head(1)

pandas最重要

1. 過濾: 準備跟你資料表依樣多的True/False, DataFrame[依樣多True/False]
2. 轉換

篩選掉離群值(依般來說會選 1/4以下 3/4以上 當作離群值)

In [21]:
start = df["time"].min()
q1 = df["time"].quantile(0.25)
q2 = df["time"].quantile(0.5)
q3 = df["time"].quantile(0.75)
end = df["time"].max()
# print(start, q1, q2, q3, end)
# &: and |: or, 兩個條件要加()
fil = (df["time"] > q1) & (df["time"] < q3)
df[fil].to_csv("baha.csv", encoding="utf-8")
df[fil]

             text    color  size  position   time        sn        userid
751      砍樹的姿勢很正確  #FFFFFF     1         0  19498  23449362      ck290996
752       做夢還要砍柴Q  #FDE53D     2         2  19511  22961157     JJHH09876
753    樹：幹連作夢也要砍我  #FFFFFF     1         0  19514  25082702    Joeychen96
754          禰豆子呢  #FFFFFF     1         0  19557  31637167  LEON05162001
755         好溫柔QQ  #FFFFFF     1         0  19611  22870968    lin00lin00
...           ...      ...   ...       ...    ...       ...           ...
2245      大哥沒有輸！！  #FFFFFF     1         0  60864  22456885    fantasy074
2246   大哥沒有輸！！！！！  #FFFFFF     1         0  60865  24235233   stsamsamsam
2247  大哥沒有輸！！！！！！  #FF0026     2         0  60868  29216588      song8998
2248     大哥沒有輸！！！  #FFFFFF     1         0  60870  23874785      tracyOWO
2249     都給我哭!!!!  #FFFFFF     1         0  60870  30108836    mantou7925

[1499 rows x 7 columns]