<a href="https://colab.research.google.com/github/Elwing-Chou/kmu/blob/main/0326.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Demo Latex Math

$ 標準差 = \frac{1}{n} \sum_{i=1}^n (p_i - \mu) ^ 2 $

# 早上

1. []: 清單型態(list) 同類型東西  [60, 30, 20]
2. {}: 字典型態(dict) 聚集小東西變成複雜東西 {"name":"Elwing", "height":175}

key-value

1. 清單 key: 0, 1, 2  key2: -3, -2, -1
2. 字典 key: 自定義(str, 數字, tuple)

查詢: 查東西[key]

1. list[1]
2. dict["name"]

JSON格式(網路標準格式): list + dict

巴哈姆特danmu: [danmu{}, {}, {}]

巴哈姆特爬蟲(所ip, 只能在本地端執行)

```python
# import json
# import requests
# url = "https://ani.gamer.com.tw/ajax/danmuGet.php"
# datas = {"sn": "23505"}
# h = {
#     "user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36"
# }
# response = requests.post(url, datas, headers=h)
# result = json.loads(response.text)
# with open("danmu.txt", "w", encoding="utf-8") as f:
#     json.dump(result, f, ensure_ascii=False, indent=4)
```

我 -> (編碼) 01010110 -> (解碼)我

唯一編碼: 萬國碼(Unicode)utf-8

In [23]:
import pandas as pd
import urllib.request as req

url = "https://github.com/Elwing-Chou/kmu/raw/main/danmu.txt"
req.urlretrieve(url, "danmu.txt")
# pd.DataFrame(表格) pd.Series(一行/一列)
df = pd.read_json("danmu.txt", encoding="utf-8")
df

                 text    color  size  position   time        sn        userid
0             祝☆TV動畫化  #B538FA     2         1      0  23255401    kumosorayk
1              要怎麼用雙語  #FFFFFF     1         0      0  28413131  ilovehyunjin
2            20210822  #FFFFFF     1         0      2  22480205  a12365478957
3                  卡個  #FFFFFF     1         0      3  22269424    kuojack123
4         2021/10/6五刷  #FFFFFF     1         0      3  23377135     xu3u6xu06
...               ...      ...   ...       ...    ...       ...           ...
2996  2022.01.16 神作留名  #FFFFFF     1         0  70070  24812125   ilove960914
2997  2022.02.13 神作留名  #FFFFFF     1         0  70070  25346992   cccc8787163
2998    大哥沒有輸，大哥一路走好!  #FFFFFF     1         0  70070  28796341   jeffrey4358
2999   2022.08.09神作留名  #FFFFFF     1         0  70070  28796358   jeffrey4358
3000  2022.11.10 神作留名  #FFFFFF     1         0  70070  30360165    jerry87617

[3001 rows x 7 columns]

In [24]:
df["userid"].value_counts()
df.groupby(["userid"]).head(1)

                 text    color  size  position   time        sn        userid
0             祝☆TV動畫化  #B538FA     2         1      0  23255401    kumosorayk
1              要怎麼用雙語  #FFFFFF     1         0      0  28413131  ilovehyunjin
2            20210822  #FFFFFF     1         0      2  22480205  a12365478957
3                  卡個  #FFFFFF     1         0      3  22269424    kuojack123
4         2021/10/6五刷  #FFFFFF     1         0      3  23377135     xu3u6xu06
...               ...      ...   ...       ...    ...       ...           ...
2994       2021.10.31  #FFFFFF     1         0  70063  23791639    bear450476
2996  2022.01.16 神作留名  #FFFFFF     1         0  70070  24812125   ilove960914
2997  2022.02.13 神作留名  #FFFFFF     1         0  70070  25346992   cccc8787163
2998    大哥沒有輸，大哥一路走好!  #FFFFFF     1         0  70070  28796341   jeffrey4358
3000  2022.11.10 神作留名  #FFFFFF     1         0  70070  30360165    jerry87617

[1109 rows x 7 columns]

pandas最重要

1. 過濾: 準備跟你資料表依樣多的True/False, DataFrame[依樣多True/False]
2. 轉換

篩選掉離群值(依般來說會選 1/4以下 3/4以上 當作離群值)

In [25]:
start = df["time"].min()
q1 = df["time"].quantile(0.25)
q2 = df["time"].quantile(0.5)
q3 = df["time"].quantile(0.75)
end = df["time"].max()
# print(start, q1, q2, q3, end)
# &: and |: or, 兩個條件要加()
fil = (df["time"] > q1) & (df["time"] < q3)
df[fil].to_csv("baha.csv", encoding="utf-8")
df[fil]

             text    color  size  position   time        sn        userid
751      砍樹的姿勢很正確  #FFFFFF     1         0  19498  23449362      ck290996
752       做夢還要砍柴Q  #FDE53D     2         2  19511  22961157     JJHH09876
753    樹：幹連作夢也要砍我  #FFFFFF     1         0  19514  25082702    Joeychen96
754          禰豆子呢  #FFFFFF     1         0  19557  31637167  LEON05162001
755         好溫柔QQ  #FFFFFF     1         0  19611  22870968    lin00lin00
...           ...      ...   ...       ...    ...       ...           ...
2245      大哥沒有輸！！  #FFFFFF     1         0  60864  22456885    fantasy074
2246   大哥沒有輸！！！！！  #FFFFFF     1         0  60865  24235233   stsamsamsam
2247  大哥沒有輸！！！！！！  #FF0026     2         0  60868  29216588      song8998
2248     大哥沒有輸！！！  #FFFFFF     1         0  60870  23874785      tracyOWO
2249     都給我哭!!!!  #FFFFFF     1         0  60870  30108836    mantou7925

[1499 rows x 7 columns]

Jieba函式庫

1. 分詞(中文->英文): 我 喜歡 你
邏輯是: !!!(辭典)做初步猜想 -> (HMM算法)利用上下文來估算每一種可能的機率

2. 抓出關鍵詞彙: TF-IDF 

a. 出現次數: 多, 重要性高 
b. 常用度: 高, 重要性低

TF-IDF = 次數 * 1/常用度

In [26]:
s = """桃園市逛大街的「東非狒狒」，今（25）日一早在楊梅區的富岡現身，隨後又出現在1公里外的民生街338巷附近民宅，還被拍下到嘴裡叼著疑似「食物」的身影，動保處獲報後也前往進行誘捕。對此，就有網友好奇「為什麼狒狒跑掉不找寵物溝通師？」貼文一出，也引起網友熱烈討論。

原PO在《PTT》表示，台灣明明有一堆寵物溝通師或通靈師，現在「東非狒狒」竄逃的消息引發全台關注，讓他不禁想問「怎麼這些寵物溝通師不出來發聲一下？來給自己打名氣啊？有沒有卦？」

貼文曝光後，網友都開玩笑說，「狒狒堅持逃跑，不願溝通啊」、「狒狒不是寵物」、「命理師能幫狒狒算八字嗎」、「笑死，你怎麼不早點說」、「狒狒是寵物嗎，笑死」、「有道理，怎麼沒有出來溝通一下」、「不可愛就不行」。"""

In [ ]:
import jieba
url = "https://github.com/fxsjy/jieba/raw/master/extra_dict/dict.txt.big"
req.urlretrieve(url, "bigdict")
jieba.set_dictionary("bigdict")
" ".join(jieba.cut(s))

In [31]:
import jieba.analyse
jieba.analyse.extract_tags(s, allowPOS=["n"])
jieba.analyse.extract_tags(s, allowPOS=["n"], withWeight=True)

[('狒狒', 2.935946832646154),
 ('寵物', 2.2989937505576923),
 ('網友', 1.3793962503346153),
 ('現身', 0.4597987501115384),
 ('名氣', 0.4597987501115384),
 ('命理', 0.4597987501115384),
 ('師能', 0.4597987501115384),
 ('民宅', 0.4025650172115384),
 ('八字', 0.33992625457500003),
 ('身影', 0.2846496388969231),
 ('民生', 0.2769210208626923),
 ('道理', 0.2480999262373077),
 ('食物', 0.24321368158076923),
 ('消息', 0.19384210600653845)]